version: "3.9"

services:
  frontend:
    build: ./Frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build: ./Server_side/Dashboard_server
    ports:
      - "8080:8080"
