@import "tailwindcss";
@tailwind utilities;

:root {
  --bg: white;
  --text: black;
  --primary: white;
  --secondary: black;
}

[data-theme="dark"] {
  --bg: #0b1220;
  --text: white;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}