.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 1rem;
}

.pc {
  border: 1px solid #ccc;
  padding: 16px;
  background: white;
  border-radius: 15px;
}

.online {
  background: #e7f9e7;
}

.offline {
  background: #ffecec;
}

.section {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px dashed #ccc;
}

/* .disk-table {
ffecec
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  font-size: 14px;
}

.disk-table th,
.disk-table td {
  border: 1px solid #ddd;
  padding: 6px 10px;
}

.disk-table th {
  background: #f4f6f8;
  font-weight: 600;
}

.disk-table tr:nth-child(even) {
  background: #fafafa;
} */

.react-collapse {
  transition: height 300ms ease;
}

.react-collapse-content {
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap:14px;
}

.parent > div {
  border-radius: 14px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
}
.div2 {
  grid-area: 4 / 1 / 6 / 2;
}
.div3 {
  grid-area: 4 / 2 / 6 / 3;
}
.div4 {
  grid-area: 4 / 3 / 6 / 4;
}
.div5 {
  grid-area: 1 / 4 / 6 / 6; 
}
