.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 1rem;
}

.pc {
  border: 1px solid #ccc;
  padding: 16px;
  background: white;
  border-radius: 15px;
}

.online {
  background: #e7f9e7;
}

.offline {
  background: #ffecec;
}

.section {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px dashed #ccc;
}

/* .disk-table {
ffecec
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  font-size: 14px;
}

.disk-table th,
.disk-table td {
  border: 1px solid #ddd;
  padding: 6px 10px;
}

.disk-table th {
  background: #f4f6f8;
  font-weight: 600;
}

.disk-table tr:nth-child(even) {
  background: #fafafa;
} */

.react-collapse {
  transition: height 300ms ease;
}

.react-collapse-content {
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 14px;
}

.parent > div {
  border-radius: 14px;
}
/* 
.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}

.div2 {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 1;
} */

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}

.div3 {
  grid-row-start: 4;
}

.div4 {
  grid-row-start: 4;
}

.div2 {
  grid-row-start: 4;
}

.div6 {
  grid-row-start: 4;
}

.div7 {
  grid-row-start: 4;
}
